{% extends 'core/email.html' %}

{% block content %}
<p>Hi there,</p>

<p>Thanks for joining Covideo! Together, we’re documenting the shared story of life in the time of COVID-19. We’re
    excited to have you on board&mdash;despite the circumstances.</p>

<p><strong>To confirm your email address, <a href="{{base_url}}{% url 'index' %}?{{ak}}">click here</a>. If you didn’t
        sign up, let us know by replying to this email.</strong></p>

<p>How does Covideo work? Every day we’ll send you a prompt&mdash;maybe we’ll ask you to share the most surreal event of
    the day, your advice for others under lockdown, or easy quarantine recipes. Then, you can record and upload a short
    video (just a minute or two) in response. If you’re not feeling the prompt, you can always just ignore it. You can
    browse others' videos <a href="{{base_url}}{% url 'videos:browse' %}?{{ak}}">here</a>.</p>

<p>All the best,<br>
    Miles and Isabelle, the Covideo people</p>

<p>P.S.: Tell a friend who is going a little stir crazy about Covideo :) </p>

<p>P.P.S.: You can also copy and paste the following into your browser if the confirmation link above didn't work:
    {{base_url}}{% url 'index' %}?{{ak}}</p>
{% endblock %}