{% extends 'core/content.html' %}

{% load bulma_tags humanize %}

{% block head %}
<script>
    function submitForm(e) {
        document.querySelectorAll(".form-upload-status").forEach(element => {
            element.classList.remove("is-hidden");
        });
        return true;
    }
</script>
{% endblock %}

{% block content %}
<div class="is-narrower">
    <h3 class="title is-size-1 is-smaller-mobile has-text-primary">Submit a Video</h3>
    <div class="content is-size-5 has-text-grey has-text-weight-semibold">
        <ul style="margin-left: 1.25rem">
            <li>Try to keep videos around 1 to 2 minutes</li>
            <li>It's easiest (but not necessary) to record from your phone</li>
            <li>These videos will be public, so please be mindful</li>
        </ul>
    </div>
    <div class="box">
        <form method="POST" enctype="multipart/form-data" onsubmit="return submitForm(event)" id="submitForm">
            {% csrf_token %}
            {{form|bulma}}
            <br>
            <button class="button is-primary" type="submit" id="primary-form-submit">Upload</button>

            <br class="form-upload-status is-hidden">
            <br class="form-upload-status is-hidden">
            <p class="is-size-7 is-small form-upload-status is-hidden">We're uploading your video. Depending on your
                connection, this could take a minute or two. Don't worry, the page isn't frozen.</p>
        </form>
    </div>
    <p class="content is-small">By uploading, you grant Covideo (Politiwatch) non-exclusive rights to use and distribute
        your video; see full terms <a
            href="https://docs.google.com/document/d/1ZAlGU4IHEhbdAhqQ8hAsKqRnyPQgZXGHf6eMixw8VCw/edit?usp=sharing">here</a>.
        (Don't worry, we're not evil&mdash;our lawyer friends say this is important!)</p>
</div>
{% endblock %}