{% extends 'core/content.html' %}

{% load bulma_tags humanize %}

{% block head %}
<script>
    function submitForm(e) {
        document.querySelectorAll(".form-upload-status").forEach(element => {
            element.classList.remove("is-hidden");
        });
        return true;
    }
</script>
{% endblock %}

{% block content %}
<div class="is-narrower">
    <h3 class="title is-size-3">Submit a Video</h3>
    <div class="content is-size-6">
        <ul>
            <li>Try to keep videos around 1 to 2 minutes</li>
            <li>It's easiest (but not necessary) to record from your phone</li>
            <li>These videos will be public, so please be mindful.</li>
        </ul>
    </div>
    <div class="box">
        <form method="POST" enctype="multipart/form-data" onsubmit="return submitForm(event)" id="submitForm"
            novalidate>
            {% csrf_token %}
            {{form|bulma}}
            <br>
            <button class="button is-primary" type="submit" id="primary-form-submit">Submit</button>

            <br class="form-upload-status is-hidden">
            <br class="form-upload-status is-hidden">
            <progress class="progress is-info form-upload-status is-hidden">Uploading...</progress>
            <p class="is-size-7 is-small form-upload-status is-hidden">Uploading your video... please wait...</p>
        </form>
    </div>
    <p class="content is-small">By uploading, you grant Covideo (Politiwatch) non-exclusive rights to use and distribute
        your video; see full terms <a
            href="https://docs.google.com/document/d/1ZAlGU4IHEhbdAhqQ8hAsKqRnyPQgZXGHf6eMixw8VCw/edit?usp=sharing">here</a>.
        (Don't worry, we're not evil&mdash;our lawyer friends say this is important!)</p>
</div>
{% endblock %}