{% extends 'core/content.html' %}

{% load bulma_tags humanize %}

{% block content %}
<section class="columns">
    <div class="column is-7">
        {% include 'videos/includes/video.html' with video=object %}
    </div>
    <section class="column is-5">
        <h3 class="title is-size-5">More videos</h3>
        {% for video in recommended %}
        {% include 'videos/includes/video_preview.html' with user=True date=True prompt=True %}
        {% endfor %}
    </section>
</section>
{% endblock %}