<div class="video subsection">
    <video controls preload="auto" style="border-radius: 6px;" width="500" {% if video.thumbnail %} poster="{{video.thumbnail.url}}" {% endif %}>
        <source src="{{video.video.url}}">
    </video>
    <p class="has-text-primary is-size-5 title is-marginless">{{video.user.display_name}}</p>
    <h4 class="title is-size-4 is-marginless">{{video.title}}</h4>
    {% if video.status != "PUBLISHED" %}
    <span class="tag is-info">Not yet public</span>
    {% endif %}
    <br><br><br>
</div>